body {
  background-color: #e3f2fd;
}

#searchBar {
  margin: 15px 10px;
}

#flowers {
  margin-bottom: 50px;
  max-height:700px;
}

#title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

#dropdown_coins {
  border-color: rgb(215,215,215);
  margin-left: 0px;
}

#flower-submit {
  float: right;
}

#flower-edit {
  margin-left: 0px;
}

#flower-form {
  margin-left: 20px;
  margin-right: 20px;
}

#searchBar {
  margin-left: 0px;
}

#sightings-title {
  margin-bottom: 20px;
  margin-top: 30px;
}

#listing-row {
  cursor: pointer;
}

/* #cur-listing {
  max-width: 10px;
} */

.dropdown-menu {
  max-height: 20rem;
  overflow-y: auto;
}

.card-deck .card {
    min-width: calc(25% - 30px);
    max-width: calc(25% - 30px);
    height: 200px;
    margin-bottom: 20px;
}

#form {
  min-width: calc(50% - 30px);
  max-width: calc(50% - 30px);
}


.tableWrapper {
  height: 655px;
  overflow: auto;
  padding-bottom: 0px;
}
